body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

.navbar-inverse {
  color: #acacac; }

.slide-image {
  width: 100%; }

.carousel-holder {
  margin-bottom: 30px; }

.carousel-control,
.item {
  border-radius: 4px; }

.caption {
  height: 130px;
  overflow: hidden; }

.caption h4 {
  white-space: nowrap; }

.thumbnail img {
  width: 100%;
  height: 170px; }

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #b40039; }

.thumbnail {
  padding: 0; }

.thumbnail .caption-full {
  padding: 9px;
  color: #333; }

footer {
  margin: 50px 0; }

.wrapper-app {
  background-color: #fff;
  border: #C5C5C5 1px solid;
  border-radius: 5px; }

.color-green {
  color: #50AB51; }

.color-crimson {
  color: crimson; }

.margin-top {
  margin-top: 20px; }

.margin-top-2x {
  margin-top: 40px; }

.margin-top-3x {
  margin-top: 60px; }

.padding-top {
  padding-top: 20px; }

.padding-top-2x {
  padding-top: 40px; }

.padding-top-3x {
  padding-top: 60px; }

.padding-bottom {
  padding-bottom: 20px; }

.padding-bottom-2x {
  padding-bottom: 40px; }

.padding-bottom-3x {
  padding-bottom: 60px; }

.padding-left {
  padding-left: 20px; }

.padding-left-2x {
  padding-left: 40px; }

.padding-left-3x {
  padding-left: 60px; }

.form-group.required .control-label:after {
  content: " *";
  color: crimson; }

.pass-success {
  color: #50AB51;
  list-style: none;
  left: -15px;
  position: relative;
  font-weight: bold;
  transition: all 0.2s ease; }
  .pass-success:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-family: "Glyphicons Halflings";
    content: "\e089";
    left: -5px; }

.trigger-collapse {
  cursor: pointer; }
  .trigger-collapse:hover {
    background-color: #F5F5F5; }

.border-left {
  border-left: 1px solid DarkGray; }

.display-event {
  margin: 3px 0px;
  border-bottom: 1px solid DarkGray; }

input.dirty:not(:focus):invalid {
  background-color: #FFD9D9; }

input.dirty:not(:focus):valid {
  background-color: #D9FFD9; }

.label-rating {
  background-color: #b40039; }

[ng-cloak] {
  display: none !important; }

.noresize {
  resize: none; }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 10em; }

.rating input {
  position: absolute;
  left: -999999px; }

.rating label {
  display: inline-block;
  font-size: 0; }

.rating > label:before {
  position: relative;
  font: 24px/1 FontAwesome;
  display: block;
  content: "\f005";
  color: #ccc;
  background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
  color: #b40039;
  background: -webkit-linear-gradient(-45deg, #b40039 0%, #b40039 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

input.ng-dirty.ng-invalid {
  border-color: red; }

.restaurant {
  max-height: 355px; }
