<!DOCTYPE html>
<html lang="en" ng-app="reviewer">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurant Reviewer - Udacity Senior Front End Developer Nanodegree</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="ReviewsController as reviews">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Reviewfy</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Reviewfy <small>Reviews for restaurant</small></p>
                <p>

                </p>
                <div class="pull-right">
                  <a href="#" class="btn btn-xs btn-default" ng-click="clearFilter()"><i class="fa fa-times"></i> Clear</a>
                </div>
                <h5><i class="fa fa-search"></i> Filters</h5>
                <h6>By Name</h6>
                <input type="text" class="form-control" placeholder="Mc Burger" aria-label="Name Filter" ng-model="search.name">
                <hr />
                <h6>By Rating</h6>
                <select class="form-control" aria-label="Rating Filter" ng-model="search.averageRating">
                  <option value="" disabled selected>(Select Rating)</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <hr />
                <h6>By Type</h6>
                <div class="list-group">
                    <a href="#" class="list-group-item" aria-label="Type Filter All" ng-click="filterByType('All')">All</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Burger" ng-click="filterByType('Burger')">Burger</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Chinese" ng-click="filterByType('Chinese')">Chinese</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Japanese" ng-click="filterByType('Japanese')">Japanese</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Mexican" ng-click="filterByType('Mexican')">Mexican</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Pasta" ng-click="filterByType('Pasta')">Pasta</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Pizza" ng-click="filterByType('Pizza')">Pizza</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Salad" ng-click="filterByType('Salad')">Salad</a>
                    <a href="#" class="list-group-item" aria-label="Type Filter Sea Food" ng-click="filterByType('Sea Food')">Sea Food</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row">

                    <div class="col-sm-4" ng-repeat="restaurant in restaurants | filter:search" ng-show="restaurant.isVisible">
                        <div class="thumbnail">
                            <img data-ng-src="{{restaurant.photo}}" alt="{{restaurant.name + ' photo'}}">
                            <div class="caption">
                                <h4><a href="restaurant.html?id={{restaurant.id}}">{{restaurant.name}}</a></h4>
                                <p>
                                  <small>
                                  open from {{restaurant.start_time}} to {{restaurant.end_time}}
                                  </small>
                                </p>
                                <div class="row">
                                  <div class="col-xs-8">
                                    <address>
                                      {{restaurant.address}}<br />
                                      {{restaurant.city}}
                                    </address>
                                  </div>
                                  <div class="col-xs-4">
                                      <h5 class="pull-right"><span class="label label-default">{{restaurant.type}}</span></h5>
                                  </div>
                                </div>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{restaurant.reviewCount}} reviews</p>
                                <p ng-hide="restaurant.reviewCount == 0">
                                    <span class="glyphicon glyphicon-star" ng-repeat="n in range(restaurant.averageRating) track by $index"></span><span class="glyphicon glyphicon-star-empty" ng-repeat="n in range(5 - restaurant.averageRating) track by $index"></span>
                                </p>
                                <p ng-show="restaurant.reviewCount == 0">
                                  -
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright &copy; Mario Jorquera 2016 - Udacity Nanodegree</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="js/restaurant-app.js"></script>

</body>

</html>
